<div class="filters col-md-4 col-md-offset-4">
<button class="test-all-filter active">{{#link-to "learning" (query-params type=null)}}All{{/link-to}}</button>
<button class="test-podcast-filter">{{#link-to "learning" (query-params type="podcast")}}Podcast{{/link-to}}</button>
<button class="test-talk-filter">{{#link-to "learning" (query-params type="talk")}}Talks{{/link-to}}</button>
<button class="test-blog-filter">{{#link-to "learning" (query-params type="blog")}}Blog{{/link-to}}</button>
{{search-filter}}
</div>

<div class="col-md-10 col-md-offset-2">
  {{outlet}}
</div>
